<h3>STRONA GŁÓWNA</h3>

<p>
Witam w Wypożyczalni - miejscu do wirtualnego wypożyczania przedmiotów.<br /><br />
Znajdują się tu różne wirutalne przedmioty dodane przez użytkowników, które można wypożyczać.<br /><br />
Aby zobaczyć wszystkie przedmioty w bazie kliknij tutaj: <%= link_to 'przedmioty', :controller => 'things', :action => 'index' %><br /><br />
Aby zobaczyć wszystkich zarejestrowanych użytkowników kilknij tutaj: <%= link_to 'użytkownicy', :controller => 'users', :action => 'index' %><br /><br />
Aby wypożyczać przedmioty, albo dodawać nowe, musisz być <%= link_to 'zalogowany', new_session_path %>. <br /><br />
</p>


Ostatnio dodane przedmioty:

<div class="div_tabs">
  
<% @last_things.each do |thing| %>
  
<div class="div_tab_news">
  

  <!-- Name -->
  <%= link_to thing.name, thing %>
  
  <!-- Photo -->
  <% if is_proper_photo(thing.photo) %>
    <%= link_to image_tag(thing.photo, :class => "im_thing", :height => "110" ), thing %>
  <% else %>
    <%= link_to (image_tag "no_photo.png", :class => "im_thing", :size => "100x110"), thing %>
  <% end %>
  
  <!-- Owner -->
  Wlaściciel:
  <% if thing.user %>
    <%= thing.user.login %>
  <% else %>
    Usunięty
  <% end %>
  <br />
  

  
</div>

<% end %>


</div>

<p>
Ostatnio zarejestrowani użytkownicy:
<% @last_users.each_with_index do |user, index| %>
<%= user.login %><% if index==0 || index==1 %>, <% end %>
<% end %>
</p>